
/* page layout */

#similar {
  display: grid;
  grid: right;
  justify-items: end;
  grid-area: similar;
  align-self: start;
  margin-top: 4cm;
  margin-left: 3cm;
}


#logistics-container {
  -webkit-box-shadow: 2px 1px  rgb(173, 173, 173),  -2px 0 1px rgb(175, 175, 175);
  -moz-box-shadow: 2px 0 1px rgb(173, 173, 173),  -2px 0 1px rgb(175, 175, 175);
  box-shadow: 2px 0 1px rgb(173, 173, 173),  -2px 0 1px rgb(172, 172, 172);
  min-width:800px;
  background-color: white;
  max-width:800px;
  margin-top: 3cm;
  margin-left: 5cm;
  display: grid;
  grid-area: logistics;
  align-self: start;
  justify-self: start;
}

#images-container {
  -webkit-box-shadow: 2px 0 1px  rgb(173, 173, 173),  -2px 0 1px rgb(175, 175, 175);
  -moz-box-shadow: 2px 0 1px rgb(173, 173, 173),  -2px 0 1px rgb(175, 175, 175);
  box-shadow: 2px 0 1px rgb(173, 173, 173),  -2px 0 1px rgb(172, 172, 172);
  border-radius: 2px;
  background-color: white;
  display: grid;
  min-height: 440px;
  max-height: 780px;
  min-width:800px;
  max-width:800px;
  grid-area: images;
  justify-self: start;
  align-self: start;
  margin-left: 5cm;
  border-bottom: 1px solid rgba(211, 211, 211, 0.788);
}

/* #images {
  margin-top: 1cm;
} */

#review-container {
  -webkit-box-shadow: 2px 1px  rgb(173, 173, 173),  -2px 0 1px rgb(175, 175, 175);
  -moz-box-shadow: 2px 0 1px rgb(173, 173, 173),  -2px 0 1px rgb(175, 175, 175);
  box-shadow: 2px 0 1px rgb(173, 173, 173),  -2px 0 1px rgb(172, 172, 172);
  border-radius: 2px;
  background-color: white;
  display: grid;
  margin-left: 5cm;
  min-width:800px;
  max-width:800px;
  display: grid;
  grid-area: review;
  justify-self: start;
  align-self: start;
/*
  display: grid;

  min-height: 1000px;
  justify-self: start;
  grid-area: review;
  align-self: start;
  min-width:720px;
  max-width:720px; */

}
#all-content{
  display: grid;
  grid-template:
  "logistics  similar"
  " images    similar"
  " review  . "
  " review .  ";
}


/* box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2); */


/* image carousel and app description */

.container,
.carouselContents,
.contents {
  background-color: white;
  align-content: center;
  padding: 25px 5px 25px 5px;
  /* margin-left: 100px; */
  width: 650px;
  margin : 0 auto;
}

.description-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  color: rgb(85, 84, 84);
  background: white;
  display: block;
  margin-top: 0cm;
  font-size: 14px;
  line-height: 24px;
  height: 100%;
  padding: 0px 15px 5px 5px;
  position: relative;
  text-align: left;
  margin-left: 15px;
  text-rendering: optimizeLegibility;
}

#feature,
#addText1,
#addText2,
#addText3 {
  line-height: 19.5px;
  padding: 0px 0px 0px 0px;
  margin-left: 15px;
}

#readmore {
  color: green;
}

/* #addText3 {
  margin-bottom: 2cm;
} */

#feature {
  padding: 17px 0px 17px 0px;
}




#readmore {
  color: #33691e;
  transition: 'background' .2s .1s;
  cursor: pointer;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size:14px;
  font-weight: 450;
  font-stretch: condensed;
  text-size-adjust:100%;

}



.chevron-arrow-left {
  cursor: pointer;
  display: inline-block;
  border-right: 2px solid rgb(134, 130, 130);
  border-bottom: 2px solid rgb(134, 130, 130);
  width: 12px; height: 12px;
  transform: rotate(-225deg);
}

.chevron-arrow-right {
  cursor: pointer;
  display: inline-block;
  border-right: 2px solid rgb(134, 130, 130);
  border-bottom: 2px solid rgb(134, 130, 130);
  width: 12px; height: 12px;
  transform: rotate(-45deg);
}


.chevron-arrow-left:hover,
.chevron-arrow-right:hover {
  border-right: 2px solid rgb(56, 54, 54);
  border-bottom: 2px solid rgb(56, 54, 54);
}


/* app logistics */

body {
  background-color: #eeeeee;
}

h1 {
  font-weight: normal;
}

.info {
  border-radius: 2px;
  /* margin-right: 200px;
  margin-left: 200px; */
  background-color: white;
  display: grid;
  min-width:720px;
  max-width:720px;
  min-height: 450px;
  max-height: 450px;
  grid-template:
    "image name . editorsChoice" 60px
    "image author category rating" 30px
    "image . . ." 40px
    "image ads ads ads" 50px
    "image wishlist . install-button" 40px
    "add-info add-info add-info add-info" 160px
    / 31% 16% 16% 34%;
}



.add-info {
  grid-area: add-info;
  display: grid;
  grid-template:
    ". add-info-title add-info-title . ." 65px
    ". currentVersion size installs updatedAt" 95px
    / 8% 23% 16% 16% 34%;
}

.personLogo {
  height:10px;
  width:10px;
}

.image {
  height: 180px;
  width: 180px;
  grid-area: image;
  margin: 25px;
}

.editorsChoice {
  grid-area: editorsChoice;
  justify-self: end;
  align-self: end;
  color: #8d8d8d;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.name {
  grid-area: name;
  justify-self: start;
  align-self: end;
  font-size: 30px;
  font-weight: 300;
}

.author {
  grid-area: author;
  justify-self: start;
  align-self: center;
  font-weight: 710;
  color: #33691e;
  font-family: 'Roboto', sans-serif;
  font-size:13px;
}

.size {
  grid-area: size;
  font-family: 'Roboto', sans-serif;
  font-size:13px;
  align-self:center;
}

.category {
  grid-area: category;
  font-weight: 710;
  color: #33691e;
  font-family: 'Roboto', sans-serif;
  font-size:13px;
  align-self:center;
}

.contains{
  font-weight:700;
}
.ads {
  grid-area: ads;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #8d8d8d;
  align-self:end;
}

.caution{
  height:16px;
  width:16px;
}

.rating-me {
  grid-area: rating;
  justify-self: end;
  color: #8d8d8d;
  font-size: 13px;
  font-weight: 300;
  align-self:center;
  font-family: 'Roboto', sans-serif;
}

.updatedAt {
  grid-area: updatedAt;
  font-family: 'Roboto', sans-serif;
  font-size:13px;
  align-self: center;
  justify-self: center;
}

.installs {
  grid-area: installs;
  font-family: 'Roboto', sans-serif;
  font-size:13px;
  align-self:center;
}

.wishlist {
  grid-area: wishlist;
  color: #33691e;
  align-self: center;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  justify-self: center;
}

.add-info-title {
  grid-area: add-info-title;
  font-family: 'Roboto', sans-serif;
  font-size:15px;
  align-self:end;
}

.currentVersion {
  grid-area: currentVersion;
  font-family: 'Roboto', sans-serif;
  font-size:13px;
  align-self:center;
}

.install-button {
  background-color: #689f38;
  color: #fff;
  border-radius: 4px;
  grid-area: install-button;
  height: 36px;
  width: 76px;
  justify-self: end;
  align-self:center;
  font-family: 'Roboto', sans-serif;
  font-size:14px;
}

.wishlistLogo {
  height:16px;
  width:16px;
  color: #33691e;
}

.title {
  font-weight:700;
}


/* reviews */









/* similar apps */

/* * {
  box-sizing: border-box;
  color: #333;
} */

.similar-apps {
  background-color: whitesmoke;
  padding-top: 20px;
}

.header {
  width: 330px;
  margin-bottom: 15px;
  min-height: 30px;
  position: relative;
}

.similar {
  font-family: "Roboto",sans-serif;
  position: absolute;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  border: 0;
  margin: 0;
  padding: 0;
  bottom: 0;
}

.btn-col {
  position: relative;
  min-height: 30px
}

.seemore-btn {
  line-height: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  background-color: #689f38;
  color: white;
  position: absolute;
  right: 0;
  border-radius: 4px;
  border: 1px solid white;
  vertical-align: middle;
  text-align: center;
  padding: 0 13px;
  min-width: 40px;
}

.seemore-btn:hover {
  background-color: #8bc34a;
  box-shadow: inset 0 -2px 0 rgba(0,0,0,0.27);
  transition: 0.25s;
}

.appCards {
  width: 330px
}

.appCard {
  border-radius: 2px;
  background-color: white;
  margin-bottom: 10px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);
}

.appLogo {
  width: 165;
}

.appLogo:hover {
  cursor: pointer;
}


.appLogo img {
  height: 165px;
  width: 165px;
  padding: 18px
}

.appInfo {
  position: relative;
}

.right-side {
  padding: 7px 10px !important;
}

.appName {
  line-height: 24px;
  max-height: 24px;
  font-family: "Roboto",sans-serif;
  font-size: 20px;
  font-weight: 300;
  word-break: break-all;
  overflow: hidden;
}

.appName:hover {
  text-decoration: underline;
  cursor: pointer;
}
.company {
  line-height: 17px;
  max-height: 17px;
  overflow: hidden;
  word-break: break-all;
  font-family: "Roboto",sans-serif;
  font-size: 13px;
  font-weight: 300;
}

.company:hover {
  text-decoration: underline;
  cursor: pointer;
}

.description {
  line-height: 18px;
  margin-top: 9px;
  font-size: 13px;
  /* word-break: break-word; */
  font-weight: 300;
  max-height: 54px;
  overflow-x:hidden;
  overflow-y:hidden;
  word-break: break-word;
}

.description:hover {
  cursor: pointer;
}

.rating {
  position: absolute;
  bottom: 0;
  margin-bottom: 5px
}